{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="row">
            <h1 class="mt-5">Oracle Boost Info</h1>
        </div>
    </div>
{% endblock %}
