{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center flex-column mt-5">
                    {% if is_granted('ROLE_MEMBRE') or is_granted('ROLE_ADMIN') %}
                <a class="d-flex justify-content-center flex-column" href="{{ path('info') }}">
                <img
                        class="oracle-svg" src="{{ asset('build/images/Oracle.svg') }}" alt="">
               <p class="d-flex justify-content-center">Information Guilde</p></a>
                    {% else %}
                        <img
                                class="oracle-svg" src="{{ asset('build/images/Oracle.svg') }}" alt="">
                        <p class="d-flex justify-content-center">Veuillez contacter un Officier pour pouvoir accéder au site</p>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
