{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12  d-flex justify-content-center">
                <h1 class="mt-5">Oracle Boost Info</h1>
            </div>
            <div class="d-flex justify-content-around col-12 mt-4">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Boosts donjon</div>
                    <div class="card-body">
                        <p>Argent récolté : {{ sumDungeonBoost }}</p>
                        <p>Nombre de boost : {{ countDungeonBoost }}</p>
                    </div>
                </div>
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Boosts Raid</div>
                    <div class="card-body">
                        <p>Argent Récolté : {{ sumRaidBoost }}</p>
                        <p>Nombre de boost : {{ countRaidBoost }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
